h1 {
  text-align: center;
  font-size:4rem;
  color:black;
  background:grey;
  padding:0.4rem;
}

body {
  padding:2rem;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  min-height:100vh;
}
